logs
project/project
project/target
target
tmp
.history
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
/.target
/bin
/.cache
data/livejazznear.me.h2.db
data/livejazznear.me.trace.db

/activator-launch-1.2.2.jar
